services:
  # The PostgreSQL Database Service
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "${RABBITMQ_PORT}:5672"
      - "15672:15672" # The UI Dashboard (http://localhost:15672)
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASSWORD}
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    container_name: db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api-gateway:
    build:
      context: .
      dockerfile: ./apps/api-gateway/Dockerfile
    container_name: api-gateway
    command: npm run start:dev @app/api-gateway
    volumes:
      - ./libs:/app/libs
      - ./apps/api-gateway:/app/apps/api-gateway
      - ./nest-cli.json:/app/nest-cli.json
      - /app/node_modules
    ports:
      - "5000:5000"
    environment:
      - NODE_ENV=development
    env_file:
      - ./apps/api-gateway/.env
    depends_on:
      - users-service
      - auth-service

  users-service:
    build:
      context: .
      dockerfile: ./apps/users-service/Dockerfile
    container_name: users-service
    volumes:
      - ./libs:/app/libs
      - ./apps/users-service:/app/apps/users-service
      - ./nest-cli.json:/app/nest-cli.json
      - /app/node_modules
    command: npm run start:dev @app/users-service
    env_file:
      - apps/users-service/.env
    depends_on:
      - db
    ports:
        - '5001:5001'

  auth-service:
    build:
      context: .
      dockerfile: ./apps/auth-service/Dockerfile
    container_name: auth-service
    command: npm run start:dev @app/auth-service
    volumes:
      - ./libs:/app/libs
      - ./apps/auth-service:/app/apps/auth-service
      - ./nest-cli.json:/app/nest-cli.json
      - /app/node_modules
    env_file:
      - ./.env
      - ./apps/auth-service/.env
    depends_on:
      - db
      - users-service
      - mail-service

  mail-service:
    build:
      context: .
      dockerfile: ./apps/mail-service/Dockerfile
    container_name: mail-service
    command: npm run start:dev @app/mail-service
    volumes:
      - ./libs:/app/libs
      - ./apps/mail-service:/app/apps/mail-service
      - ./nest-cli.json:/app/nest-cli.json
      - /app/node_modules
    env_file:
      - ./.env
      - ./apps/mail-service/.env

  client:
    build:
      context: .
      dockerfile: ./client/Dockerfile
    command: npm run dev --workspace=client
    container_name: frontend
    volumes:
      - ./libs:/app/libs
      - ./client:/app/client
      - /app/node_modules
      - /app/client/.next
    env_file:
      - ./client/.env.development
    ports:
      - "3000:3000"
    depends_on:
      - api-gateway

volumes:
  postgres_data: