<h3>New Login Detected</h3>
<p>We noticed a new login to your FreelanceHub account.</p>
<ul>
    <li><strong>Device:</strong> {{ device }}</li>
    <li><strong>IP Address:</strong> {{ ip }}</li>
    <li><strong>Time:</strong> {{ time }}</li>
</ul>
<p>If this was you, you can ignore this email.</p>
<p><strong>If this wasn't you:</strong></p>
<p>
    <a href="{{ manageUrl }}" style="color: red;">Revoke Session & Change Password</a>
</p>